body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

#gameboard{
    background-color: red;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;



}
.square{
    height: 100px;
    width: 100px;
    border: black solid 2px;
    border: solid black 2px;
    box-sizing: border-box;
    background-color: white;
}

.circle{
    height:90px;
    width:90px;
    border-radius: 50%;
    border:1px solid blue;
    box-sizing: border-box;
}

.X{
    height:90px;
    width:90px;
    border-radius: 50%;
    border:1px solid green;
    box-sizing: border-box;
}